<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FireBasePostNotification.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B6E188FC1E557A5100C58751</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B6E189101E557A5200C58751</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B6E1891B1E557A5200C58751</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
